### Import Libraries

In [177]:
import tweepy
import json
import pandas as pd
import numpy as np

### Defining Keys  and Authorising

In [178]:
consumerKey = 'vma3vTUN2MF8cxHtHhyZVYhLO'
consumerSecret = 'M2mJphr9OF0IBq7ZfScopV9bqpFkLuVLyG5IQnN44GrseRRFGK'
accessToken = '2578792434-lZEFkEGvB0mp6muwhbdKLu5ee8LFbeBMW9nmQip'
accessSecret = 'E55wVPWC9clRpbNgF7NnLEN8O9iSWtmIJ2wiIViRfJd9m'

In [179]:
auth = tweepy.OAuthHandler(consumerKey,consumerSecret)
auth.set_access_token(accessToken,accessSecret)
api = tweepy.API(auth)

### Method to Fetch Tweets

In [190]:
def getTweets(username):
    tweets = api.user_timeline(id =username, tweet_mode = 'extended',count = 500)
    return tweets

### Saving data to JSON File

In [ ]:
tweets = getTweets("midasIIITD")
tweetsDump = []
for tweet in tweets:
    tweetsDump.append(tweet._json)

In [ ]:
with open('tweets.json', 'w') as outfile:
    json.dump(tweetsDump, outfile)

### Reading data from JSON file

In [183]:
with open('tweets.json') as f:
    tweetsData = json.load(f)

In [184]:
print(tweetsData[0].keys())

dict_keys(['created_at', 'id', 'id_str', 'full_text', 'truncated', 'display_text_range', 'entities', 'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'retweeted_status', 'is_quote_status', 'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'lang'])

### Making Lists to store the Counts

In [185]:
texts = []
dateTime = []
likesCount = []
retweetsCount = []
photosCount = []

In [186]:
for tweet in tweetsData:
    texts.append(tweet['full_text'])
    dateTime.append(tweet['created_at'])
    likesCount.append(tweet['favorite_count'])
    retweetsCount.append(tweet['retweet_count'])
    numImages = 0;
    if 'media' in tweet['entities']:
        numImages = int(len(tweet['extended_entities']['media']))
    if(numImages > 0):
        photosCount.append(numImages)
    else:
        photosCount.append('None')

### Tabular Data

In [187]:
df = pd.DataFrame()

In [188]:
df['Text'] = texts
df['Date and Time'] = dateTime
df['Likes'] = likesCount
df['Retweets'] = retweetsCount
df['No. of Images'] = photosCount

In [189]:
df

,Text,Date and Time,Likes,Retweets,No. of Images
0,RT @kdnuggets: Top 8 #Free Must-Read #Books on...,Sat Apr 06 17:11:29 +0000 2019,0,1,None
1,@nupur_baghel @PennDATS Congratulation @nupur_...,Sat Apr 06 16:43:27 +0000 2019,3,1,1
2,We have emailed the task details to all candid...,Fri Apr 05 16:08:37 +0000 2019,8,1,None
3,RT @rfpvjr: Our NAACL paper on polarization in...,Fri Apr 05 04:05:11 +0000 2019,0,16,None
4,RT @kdnuggets: Effective Transfer Learning For...,Fri Apr 05 04:04:43 +0000 2019,0,10,1
5,RT @stanfordnlp: What’s new in @Stanford CS224...,Wed Apr 03 18:31:53 +0000 2019,0,57,None
6,RT @DeepMindAI: Today we're releasing a large-...,Wed Apr 03 17:04:32 +0000 2019,0,844,None
7,RT @ylecun: Congratulations Jitendra Malik !\n...,Wed Apr 03 09:03:40 +0000 2019,0,16,None
8,RT @IIITDelhi: Another chance to take admissio...,Wed Apr 03 07:46:02 +0000 2019,0,4,None
9,Dear @midasIIITD internship candidates who hav...,Tue Apr 02 04:20:13 +0000 2019,8,1,None
10,Looking forward to your paper submission to @I...,Tue Apr 02 02:44:54 +0000 2019,5,1,None
11,RT @ngrams: Reproducibility in multimedia rese...,Tue Apr 02 02:35:44 +0000 2019,0,7,None
12,Online application for https://t.co/DJFDrQsHZP...,Mon Apr 01 06:53:08 +0000 2019,6,1,None
13,RT @ACMMM19: A final reminder of the Reproduci...,Sun Mar 31 10:21:24 +0000 2019,0,10,None
14,RT @isarth23: Thanks for the support and help ...,Fri Mar 29 19:43:24 +0000 2019,0,2,None
15,"Since SemEval-2019 will be held June 6-7, 2019...",Fri Mar 29 17:16:40 +0000 2019,9,1,None
16,+@aggarwal_kartik.\nCongrats! Wish you many mo...,Fri Mar 29 17:04:30 +0000 2019,2,0,None
17,RT @aggarwal_kartik: Our work (@midasIIITD ) a...,Fri Mar 29 17:03:29 +0000 2019,0,1,None
18,"Congratulations! @midasIIITD team, @isarth23 @...",Fri Mar 29 17:02:24 +0000 2019,9,1,None
19,@EEMLcommunity @radamihalcea too many deadline...,Fri Mar 29 05:35:22 +0000 2019,0,0,None